
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand"><img style="width: 50px; height: 50px;" src="https://play-lh.googleusercontent.com/uibMWvyN5Z6wY0_U5b_7wzlItg0LFtyAwmbkK730opFFV4HeAJ_9k4ywLfHGg9jMfwA"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
          </ul>
          <form method="get" class="d-flex" role="search">
            <input type="hidden" name="id" value="" />
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <!-- <button class="btn btn-outline-danger" type="submit">Log Out</button> -->
        </div>
      </div>
    </nav>